$light-gray: lightgray;
$gainsboro: gainsboro;
$background-light: #f5f5f5;
$sky-blue: skyblue;
$icon-blue: #0078d4;
$common-width-small: 100px;
$common-width-medium: 200px;
$common-width-large: 250px;

%width-small {
  width: $common-width-small;
}

%width-medium {
  width: $common-width-medium;
}

%width-large {
  width: $common-width-large;
}

.partner-account-name {
  @extend %width-large;
}

.subscriber-account-name,
.special-bid-number,
.created-date,
.subscriber-account-number {
  @extend %width-medium;
}

.name,
.type,
.status,
.user,
.actions {
  @extend %width-small;
}


.grid-shim {
  column-gap: 16px;
}

.card {
  margin: 10px;

  &-header {
    background-color: $light-gray;
    margin: 5px;
    display: flex;
    justify-content: space-between;
  }

  &-product {
    border: 2px solid $gainsboro;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  background-color: $background-light;
  padding: 0px 10px;
}

.v-data {
  display: flex;
  justify-content: space-between;
}

.t-c {
  padding: 10px 15px;
}

.p-tb {
  padding: 10px 0px 40px;
}
.v-tb {
  padding: 10px 0px 10px;
}

.m-20 {
  margin: 20px;
}

.m-tb-20{
  margin: 20px 0px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 30px; 
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-tb-20 {
  padding: 10px 0px 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.dialog-wide {
  max-width: 1000px !important;
}

.d-body {
  // display: flex !important;
}

.dialog {
  padding: 0px !important;

  &-data {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}

.p-grid {
  display: flex;
  justify-content: space-between;

  &-bg {
    background-color: $background-light;
    padding: 12px;
  }
}

.button {
  border: 2px solid $gainsboro;
  background-color: $sky-blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.b-g {
  display: flex;
  column-gap: 12px;
}

.db-w {
  width: 100%;
}

.icon-label-container {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.hr-m {
  margin: 0px;
}

.i-color {
  color: $icon-blue;
}

.font-w {
  font-weight: 600;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.c-gap{
  display: flex;
  column-gap: 180px;
}

.border-top {
  border-top: 2px solid gainsboro;
margin-top: 20px;
}

.text-color {
  color: #01527f;
}

