.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  /* margin: 10px; */
}

.navbarStyle {
  padding: 0.5rem 1rem !important;
}

.profileContent {
  padding: 8px;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.fui-TableCell {
  vertical-align: baseline !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.fui-TableCellLayout {
  margin-top: 10px !important;
}

.fui-DialogSurface {
  padding: 0% !important;
  border-radius: 0% !important;
  max-width: 1000px !important;
}

.fui-DialogBody {
  gap: 0px !important;
}

.fui-DialogActions {
  padding: 0px 12px 12px 0px;
}

.fui-DialogContent {
  min-height: 400px !important;
}

.fui-TableHeader {
  margin: 10px !important;
}

.fui-Grid {
  grid-template-columns: repeat(3, 1fr) !important;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
